pip
pytz
lxml
boto3==1.10.14
requests
pymongo==3.9.0
numpy==1.15.4
botocore==1.13.14
xmltodict
Scrapy==1.8.0
Scrapy-UserAgents
twisted==22.4.0
kafka-python==1.4.7
redis==3.4.1
google-cloud-storage==1.26.0